@using System.Data;
@model JobManagementSystemAdmin.Areas.Experience.Models.ExperienceListResponse;

@{
    Layout = "_Layout";
}

<div class="main-panel">


    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                EXPERIENCE
                            </tr>
                            <tr>
                                <td><a asp-area="Experience" asp-controller="Experience" asp-action="Insert" class="btn btn-outline-primary">Add Connection</a></td>
                            </tr>
                            <tr>
                                <td>USER</td>
                                <th> @Html.DisplayName("CompanyName") </th>
                                <th> @Html.DisplayName("Position") </th>
                                <th> @Html.DisplayName("Location") </th>
                                <th> @Html.DisplayName("Start Date") </th>
                                <th> @Html.DisplayName("End Date") </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.data)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img src="~/images/faces-clipart/pic-1.png" alt="image" />
                                    </td>
                                   
                                    <td>@row.companyName  </td>
                                    <td> @row.position </td>
                                    <td>@row.location</td>
                                    <td> @row.startDate </td>
                                    <td> @row.endDate</td>
                                    <td>
                                        @using (Html.BeginForm("Edit", "Experience", FormMethod.Post))
                                        {
                                        <td>@Html.Hidden("ID",row.experienceID)</td>
                                        <td><button class="btn btn-outline-success">Edit</button></td>

                                        }
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("DeleteExperience", "Experience", FormMethod.Post))
                                        {
                                        <td>@Html.Hidden("ID",row.experienceID)</td>
                                        <td><button class="btn btn-outline-danger">Delete</button></td>

                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
